// ================================
// Colors
// ================================

// --------------------------------
// Color Map
// --------------------------------

$colors: (
	black: #2C3E50,
	white: #fff,
	gray: (
		base: #838383,
		light: #ececec,
		dark: #333,
		news-title: #1d272f,
		border: #e6e6e6,
		headline: #646464,
		headline-hover: #585858,
		news-hover: #e7e7e7,
	),
	green: #9ac23c,
	blue: #1a9dce
);